.conteudo-login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;

  .conteudo-form{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 30px 60px 0 gainsboro;
    text-align: center;
    width: 45%;
    height: 350px;
    transition: all 0.5s ease-in-out
  }

  .conteudo-form:hover{
    box-shadow:0 30px 60px 0 rgb(55,55,55);
  }

}

.input-login{
  background-color: #ece9e9;
  border: none;
  color: black;
  padding: 10px 5px;
  text-align: left;
  font-size: 15px;
  margin: 10px;
  width: 80%;
  border:2p solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}


#input img {
  cursor: pointer;
}

.mensagem-erro{
  font-size: 10px;
  color:red;
  font-family: Arial, Helvetica, sans-serif;
}

.input-submit{
  background-color: #858ec0;
  border: none;
  color: white;
  padding: 5px;
  margin-top: auto;
  text-align: center;
  font-size: 15px;
  box-shadow: 0 8px 8px 0 #5d6cc2;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  width: 20%;
  cursor: pointer;
  }


.logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-image: 10px black;
  font-size: 15px;
  box-shadow: 0 10px 10px 0 #5d6cc2;
  border-radius: 5px;
  width: 95%;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  }


.esqueceu {
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  text-align: center;
  justify-content: center;
  padding: 10px 5px 5px 10px;
  margin-top: 1px;
  width: 90%;

}
